.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 5em;
    
}

.item a{
    color: #525452;
    text-decoration: none;
}
.item a:hover{
    color: #9AC8AF;
}
.TopFit a {
    margin-right: 15em;
    color: #9AC8AF;
    text-decoration: none;
    font-size: 2em;
}